{
    "allservers": "True",
    "webhook_url": "https://discordapp.com/api/webhooks/374460927040552964/e1lvTu3lfMOasJ9sMjzNlTriF1fytEJvMVL6pNIdDgi2tEo1NyKFdjPcSktEbvOhCPrj",
    "notifier_bot_token": "4TcOGT-EbQHe8T7R1o7GbM8xdFCAzg75",
    "servers": [],
    "keywords": [
        "joker",
        "Clannad [server]292277485310312448",
        "loli [server]292277485310312448",
        "lolis [server]292277485310312448",
        "Shinobu [server]292277485310312448",
        "Clannad [server]191709045646688256",
        "Shinobu [server]333101774460420098",
        "loli [server]333101774460420098",
        "azerbaijan"
    ],
    "webhook_url2": "",
    "log_size": "25",
    "blacklisted_users": [],
    "keyword_logging": "on",
    "blacklisted_servers": [],
    "user_location": "",
    "blacklisted_channels": {},
    "log_location": "373596655355822081 344556222755766283",
    "keyusers": {},
    "context_len": "4",
    "blacklisted_words": [],
    "user_logging": "on"
}
